#bemVindo{
    background-color: maroon;
    color: white;
}

#melhorProduto{
    color:orangered ;
hue
}

h2{
    background-color:rgb(209, 117, 5);
    color: aliceblue;
}

#estiloFuncionario{
    background-attachment: blue;
    color: rgba(188, 15, 179, 0.832);

}

#nomeLoginha{
    color: brown;
}

#tabelaProduto{
    color: rgb(192, 51, 51);
}

#adicionarProduto{
    color: deepskyblue;
}